.page {
  font-family: 'IBM Plex Mono', 'Menlo', 'Consolas', 'DejaVu Sans Mono', 'Courier New', monospace;
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--text-color);
  background-attachment: fixed;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  min-width: 375px;
  background-color: var(--bg-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.rec {
  position: absolute;
  top: 10px;
  right: 20px;
  display: var(--rec-display);
  align-items: center;
  gap: 10px;
  font-family: 'IBM Plex Mono', 'Menlo', 'Consolas', 'DejaVu Sans Mono', 'Courier New', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.rec::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header {
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin-bottom: 20px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

.header__theme-menu-button {
  font-family: 'IBM Plex Mono', 'Menlo', 'Consolas', 'DejaVu Sans Mono', 'Courier New', monospace;
  font-size: 18px;
  color: var(--button-color);
  text-transform: lowercase;
  background: none;
  border: none;
  width: 70px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-hover);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.page-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 0.82;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.header__content {
  align-self: center;
  width: 100%;
}

@media (width >= 768px) and (width < 1024px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 0px;
    margin-bottom: 40px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .rec {
  top: 20px;
  right: 30px;
  }

  .page-title {
    display: flex;
    flex-direction: row;
    gap: 0.6em;
    justify-content: start;
    align-items: center;
  }

  .header .header__content {
    justify-self: right;
    width: 47vw;
  }
}

@media (width >= 1024px) {

  .rec {
  top: 20px;
  right: 30px;
  }

  .header {
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 0px;
    padding-bottom: 20px;
    margin-bottom: 40px;
  }

  .header__theme-menu {
    align-self: self-start;
    padding-right: 376px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 11px;
    list-style: none;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .page-title {
    display: flex;
    flex-direction: row;
    gap: 0.6em;
    justify-content: start;
    align-items: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header .header__content {
    justify-self: right;
    width: 49%;
  }
}

.main {
  padding: 20px 10px;
  display: grid;
  gap: 13vw;
  margin-bottom: 20px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  font-family: 'IBM Plex Mono', 'Menlo', 'Consolas', 'DejaVu Sans Mono', 'Courier New', monospace;
  font-size: 18px;
  font-weight: 700;
  color: var(--section-title-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article {
  font-family: 'IBM Plex Mono', 'Menlo', 'Consolas', 'DejaVu Sans Mono', 'Courier New', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article_title {
  font-family: 'IBM Plex Mono', 'Menlo', 'Consolas', 'DejaVu Sans Mono', 'Courier New', monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  background-color: var(--accent-color);
  color: var(--title-text-color);
}

.text-shadow {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.text-shadow:hover {
  border-bottom: 1px solid var(--text-color);
}

.text-shadow:focus {
  outline: none;
}

.text-shadow:focus-visible {
  border: 1px solid var(--text-color);
}

.article_sub-title {
  font-family: 'IBM Plex Mono', 'Menlo', 'Consolas', 'DejaVu Sans Mono', 'Courier New', monospace;
  font-weight: 400;
  font-size: 18px;
  background-color: var(--accent-color);
  color: var(--title-text-color);
}

.header__content div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery {
  display: grid;
  min-width: 355px;
  gap: 10px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.picture {
  display: grid;
  gap: 10px;
}

@media (width >= 768px) and (width < 1024px) {
  .main {
    padding-left: 20px;
    padding-right: 20px;
    gap: 79px;
    margin-bottom: 40px;
  }

  .section {
    gap: 23px;
  }

  .section-why,
  .section-tips {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .section-distractions .section__title {
    max-width: 30%;
  }
}

@media (width >= 1024px) {
  .main {
    padding-left: 20px;
    padding-right: 20px;
    gap: 80px;
    margin-bottom: 40px;
  }

  .section {
    gap: 20px;
  }

  .section-why,
  .section-tips {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .section-distractions .section__title {
    max-width: 30%;
  }

  .section-distractions .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (width >= 768px) {
  .gallery {
    gap: 20px;
  }

  .picture {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
  }

  .picture--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .picture--2 {
    grid-column-start: 3;
    grid-column-end: auto;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .picture--3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .picture--5 {
    grid-column: 2 / 4;
    grid-row: 3;
  }
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}